:root{
    --primary: #0c0c0c;
    /* --primary: #fcfcfc; */
    --secondary: #339bff;
    --tertiary: #d9d6d1;
    /* --tertiary: #1a1c1d; */
    --text1: #d9d6d1;
    /* --text1: #141414; */
    --text2: #141414;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    z-index: 1  ;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    color: var(--primary);
    height: 100px;
    width: 100vw;
    justify-content: end;
    align-items: center;
    padding: 0 8%;
}
nav>ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    
    color:var(--tertiary);
    text-align: center;
    cursor: pointer;
}
li{
    display: inline-block;
    text-align: center;
    padding: 4rem 1rem;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: transform 0.2s ease-in-out;
}
li:hover{
    transform: scale(1.55);
}.letter{
  font-size: 2.5em;
  font-weight: 800;
  margin-left: 2.5rem;
  margin-right: auto;
}
#home{
    background-image:linear-gradient(to bottom right, var(--primary), #10112d);
    display: flex;
    min-height: 100vh;
    height:auto;
}
.left{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 14vw 3vw 2vw 11.5vw;
    color: var(--tertiary);
}
.head-1 {
    font-size: 1.5em;
    font-weight: 800;
    color: antiquewhite;
    filter: blur(0.6px);
   
}

/* Define the glow animation */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(209, 212, 191, 0.5);
    }
    100% {
        text-shadow: 0 0 20px rgb(226, 230, 233);
    }
}
/* @keyframes blur {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(5px);
    } */
/* } */
.head-2{
    background-color: transparent;
    font-size: 2.7em;
    font-weight: 800;
    margin-bottom: 3vh;
    animation: glow 2s ease-in-out infinite alternate;
}
.subtext{
    padding: 1vh 0;
    font-size: 2.4rem;
    color: var(--tertiary);
}.bottomtext{
    margin: 2rem 0 0;
    width: 50%;
    font-weight: 400;
}.hoverlink{
    text-decoration: underline;
}.hoverlink:hover{
    color: var(--secondary);
}#skills,#project{
    text-align: center;
    color: var(--text1);
    min-height: 100vh;
}
#skills{
    background: linear-gradient(to bottom right, var(--primary), #10112d);
    height:auto;
    padding: 11vh 0 10vh;
}
.cntr{
    font-family: 'JetBrains Mono', monospace;
    background-color: #011221;
    margin: 5vh auto;
    padding: 3vh 8vw;
    width: 55vw;
    height: auto;
    text-align: start;
}

.glass{
    backdrop-filter: blur(8px);
   
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.37);
}

.subhead{
    color: var(--text1);
    font-size: 1.2em;
    font-weight: 400;
    padding: 1vh 0 2vh;
}

.points{
    color: var(--tertiary);
    padding: 0 0 2.5vh;
}
.chip{
    margin: 3px;
    padding: 4px;
    border: transparent;
    border-radius: 3px;
    background-color: var(--tertiary)     ;
    color: var(--primary);
    position: relative  ;
}.tech-stack{
    width: 85%;
    margin-top: 4rem;
   display: flex;
   flex-direction: row;
}.chip:hover {
    background-color: var(--secondary); /* Change the background color on hover */
    transition: background-color 0.3s ease-in-out; /* Add a smooth transition */
}.icon {
    width: 30px; /* Adjust the width to your preference */
    height: 30px; /* Adjust the height to your preference */
    margin-right: 10px; /* Add margin between icons if needed */
}.social-media-icons{
    margin: 10px;
}